{% extends "network/layout.html" %}
{% load static %}

{% block script %} 
    <script type="text/javascript">     window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div id ="body">
            <div id="header-family">
                <span id="header">All Posts </span>
                <button id="addnew" class="btn btn-sm btn-outline-dark">Add New Post</button>
            </div>
            <div id="new-post">
                <form>
                    <p id="new-post-text">New Post</p>
                    <div id="post-text">
                        <textarea id="post-textarea"></textarea>
                    </div>
                    <button class="btn btn-primary button" id="post-button">Post</button>
                </form>
            </div>

            <div id="posts-view">
            </div>

            <div class="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#" id="page_previous">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#" id="page_index">1</a></li>
                      <li class="page-item"><a class="page-link" href="#" id="page_next">Next</a></li>
                    </ul>
                </nav>
            </div>
            <hr>
        </div>
    {% endif %}
{% endblock %}