{% extends "network/layout.html" %}
{% load static %}

{% block script %} 
    <script type="text/javascript">     window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="body">
        <div id="profile">
            <div>
                <h3 id="profile-text">Profile</h3>
            </div>
            <div id="profile-image">
                <img src="{% static 'network/profile.png' %}" alt="profile image">
            </div>
            <strong><p id="profile-username">{{ user_clicked }}</p></strong>
            <div id="profile-follow">
                <span id="profile-followers"></span>
                <span id="profile-following"></span>
                {% if user_clicked == current_user %} {% else %}
                    <span>
                        <button class="btn btn-secondary" id="profile-followbtn">Follow</button>
                    </span>
                {% endif %}
            </div>
        </div>
        <hr>

        <div id="posts-view">
        </div>

        <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#" id="page_previous">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#" id="page_index">1</a></li>
                  <li class="page-item"><a class="page-link" href="#" id="page_next">Next</a></li>
                </ul>
            </nav>
        </div>

    </div>
{% endblock %}