{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    Active Listings
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container-fluid" id="main_container">
            <div class="row">
                <div class="col-2">
                    <div id="active_sort">
                        <h5>Sort</h5>
                        <hr>
                        <form method="POST" action="{% url 'index' %}">
                            {% csrf_token %}
                            <input type="radio" name="sort" value="ascending" id="ascending" required>
                            <label for="ascending">Price (Lowest to highest)</label><br>
                            <input type="radio" name="sort" value="descending" id="descending">
                            <label for="descending">Price (Highest to lowest)</label><br>
                            <input type="radio" name="sort" value="oldest" id="oldest">
                            <label for="oldest">Oldest First</label><br>
                            <input type="radio" name="sort" value="newest" id="newest">
                            <label for="newest">Most recent First</label><br>
                            <input type="submit" class="btn2" value="Sort">
                        </form>
                    </div>
                    <div id="active_categories">
                        <h5>Categories</h5>
                        <hr>
                        <ul>
                            <li>
                                <a href="#" data-category="Home">
                                    <span>Home</span>
                                    <img src="{% static 'auctions/right.png' %}" alt="" width="10" height="10">
                                </a>
                            </li>
                            <li>
                                <a href="#" data-category="Cars">
                                    <span>Cars</span>
                                    <img src="{% static 'auctions/right.png' %}" alt="" width="10" height="10">
                                </a>
                            </li>
                            <li>
                                <a href="#" data-category="General">
                                    <span>General</span>
                                    <img src="{% static 'auctions/right.png' %}" alt="" width="10" height="10">
                                </a>
                            </li>
                            <li>
                                <a href="#" data-category="Electronics">
                                    <span>Electronics</span>
                                    <img src="{% static 'auctions/right.png' %}" alt="" width="10" height="10">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col" id="active_parent">
                    <h5 id="active_listings">Active Listings</h5>
                    <hr>
                    {% if message %}
                    {% endif %}
                    {% for listing in listings %}
                        <div class="container-fluid each_item hidden_items">
                            <div class="row">
                                <div class="col-3">
                                    <img src="{{ listing.imageurl }}" alt="image" class="each_item_img">
                                </div>
                                <div class="col">
                                    <div>
                                        <p class="active_header">{{ listing.title }}</p>
                                        <p><span class="active_price">£{{ listing.price }}</span></p>
                                        <p><span class="active_h">Listed on <span class="active_date">{{ listing.when_added }}.</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col active_button_div">
                                    <a href="{% url 'listing' listing.id %}" class="btn2 active_button">View Listing</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div id="pagination">
                        <ul>
                            <li>
                                <a href="#" class="pg_previous" data-page="0" data-listen="false">Previous</a>
                            </li>
                            <li>
                                <a href="#" id="active_page" class="pg_1" data-page="1" data-listen="false">1</a>
                            </li>
                            <li>
                                <a href="#" class="pg_2" data-page="2" data-listen="false">2</a>
                            </li>
                            <li>
                                <a href="#" class="pg_3" data-page="3" data-listen="false">3</a>
                            </li>
                            <li>
                                <a href="#" class="pg_next" data-page="2" data-listen="false">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}