{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="container-fluid pad2">
        <div class="row">
            <div class="col-3" id="listing_img_div">
                <div>
                    <img src="{{ listing.imageurl }}" alt="image" class="listing_image">
                </div>
            </div>

            <div class="col" id="listing_details_div">
                <div>
                    <div>
                        <h5 id="main_header">{{listing.title}}</h5>
                    </div>
                    <div class="about_item">
                        <p>Description: {{ listing.description}}</p>
                        <p>Status: 
                            {% if listing.active == True%}
                                <i class="act">Active</i>
                            {% else %}
                                <b class="clo">CLOSED</b>
                            {% endif %}
                        </p>
                        <p>Price: £{{ listing.price }}</p>
                        <p>Listed By:  {{ listing.creator.username }}</p>
                        <p>Category:  <a href="{% url 'category' listing.category %}">{{ listing.category }}</a></p>
                        <p><b>{{ bidcount }}</b> bid(s)</p>
                    </div>
                    {% if listing.creator == user and listing.active %}
                        <div class="place_bid_a" id="close_listing">
                            <a href="{% url 'close' listing.id %}">Close listing</a>
                        </div> 
                    <br>
                    {% else %}
                        {% if listing.active == True%}
                            <div>
                                <form action="{% url 'bid' listing.id %}" method="POST">
                                    {% csrf_token %}
                                    <div id="place_bid_div">
                                        <div class="sm">
                                            <input type="number" class="form-control" placeholder="Bid" min="{{ minbid }}" name="bid" required>
                                        </div>
                                        <div>
                                            <input class="place_bid_btn" type="submit" value="Place Bid">
                                        </div>
                                        <div id="or">
                                            <p>OR</p>
                                        </div>
                                        {% if listing in w_items %}
                                            <div class="place_bid_a">
                                                <a href="{% url 'delwatch' listing.id %}">Remove from watchlist</a>
                                            </div>
                                        {% else %}
                                            <div class="place_bid_a">
                                                <a href="{% url 'addwatch' listing.id %}">Add to watchlist</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            {% if winner == user %}
                             <p><b>Congratulations!!! You are the winner of this auction.</b></p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>    
            </div>
        </div>
        <hr>
        <div class="csection">
            <h6><u>Comments</u></h6>
            <div id="comment_section">
                {% if listing.active %}
                    <form action="{% url 'comment' listing.id %}" method="POST">
                        {% csrf_token %}
                        <div id="add_new_comment" class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <textarea id="textarea" maxlength="400" name="comment" placeholder="Enter comment here" required></textarea>
                                </div>
                                <div id="addcomment" class="col-5">
                                    <input type="submit" value="Add comment">
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}
                <div id="allcomments_section">
                    {% if allcomments%}
                        {% for comment in allcomments %}
                            <div>
                                <p>
                                    <img src="https://img.icons8.com/ios/50/000000/name.png" height="20" width="20">
                                    <span id="commenter">{{ comment.commenter }}</span> : {{ comment.comment }}
                                </p>
                                <p><i>- {{ comment.when }}.</i></p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}