{% extends 'auctions/layout.html' %}

{% block body %}

    <div class="row">
        <div class="left">
            <div class="i">
                <img src="{{ listing.imageurl }}" alt="{{ listing.title }}">
            </div>
        </div>

        <div class="right">
            <div class="csection">
                <div>
                    <h3 class="cheader">{{ listing.title }}</h3>
                </div>

                <div>
                    <p>Description: {{ listing.description}}</p>
                </div>
                <div>
                    <p>Status: 
                        {% if listing.active == True %}
                            <i class="act">Active</i>
                        {% else %}
                            <b class="clo">CLOSED</b>
                        {% endif %}
                    </p>
                </div>
                <div>
                    <p>Price: £{{ listing.price }}</p>
                </div>
                {% if user == winner %}
                    <div>
                        <p><b>Congratulations, you are the winner of this item!!!</b></p>
                    </div>
                {% endif %}
            </div>
            <hr>
            <div class="csection">
                <h5 class="cheader">Details</h5>
                <ul>
                    <li>Listed By:  {{ listing.creator.username }}</li>
                    <li>Category:  <a href="{% url 'category' listing.category %}">{{ listing.category }}</a></li>
                </ul>
            </div>
            <hr>
            <div class="csection">
                <h5 class="cheader">Comments</h5>
                {% if not allcomments%}
                    No comment on item.
                {% else %}
                    {% for comment in allcomments %}
                        <div>
                            <p><i>{{ comment.commenter }}</i> : {{ comment.comment }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}