{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div class="container slide" id="container">
        <div id="mail_icon_cont">
            <img src="{% static 'mail/mailbox.png' %}" alt="Inbox" width="40" height="40" class="flaunt">
        </div>
        <div class="log_reg_view">
            <h2>Login</h2>
            {% if message %}
                <div class="error_msg">{{ message }}</div>
            {% endif %}
        
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input autofocus class="form-control inp" type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input class="form-control inp" type="password" name="password" placeholder="Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Login">
            </form>
        </div>
        <div class="extra">Don't have an account? <a href="{% url 'register' %}">Register here.</a><div>
    </div>
{% endblock %}