{% extends 'bankofjosh/index.html'%}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    {% if not user.is_authenticated %}
        <div id="login_view">
            <form action="{% url 'login' %}" method="POST" id="login_form">
                {% csrf_token %}
                <div class="w3-animate-left authen" id="login">
                    <p>LOGIN</p>
                    <hr>
                    <div class="form-group">
                        <label for="lusername">Username</label>
                        <input type="text" class="form-control ri" autofocus id="lusername" name="username" minlength="3" required>
                    </div>
                    <div class="form-group">
                        <label for="lpassword">Password</label>
                        <input type="password" class="form-control ri" id="lpassword" name="password" minlength="3" required>
                    </div>
                    <div>
                        <input type="password" placeholder="Re enter password" class="form-control ri" id="lconfirmation"  name="confirmation" minlength="3" required>
                    </div>
                    <div id="forgot_pword">
                        <a href="#">Forgot password?</a>
                    </div>
                    <div id="register_div">
                        <button type="button" class="btn btn-primary" id="login_btn">Login</button>
                    </div>
                </div>
            </form>
            <div id="login_create">
                <p>Don't have an account? <span><u><a href="{% url 'register' %}">Create account.</a></u></span></p>
            </div>
        </div>

        <div id="change_pword_view">
            <form id="change_pword_form" action="#" method="POST">
                {% csrf_token %}
                <div class="w3-animate-left authen">
                    <p>RESET PASSWORD</p>
                    <hr>
                    <div id="view_one">
                        <div class="form-group">
                            <label for="vusername">Username</label>
                            <input type="text" class="form-control ri" autofocus id="vusername" name="username">
                        </div>
                        <div class="form-group">
                            <label for="vemail">Email</label>
                            <input type="text" class="form-control ri" autofocus id="vemail" name="email">
                        </div>
                        <div id="continue_div" style="text-align: center;">
                            <button type="submit" class="btn btn-primary" id="continue">Continue</button>
                        </div>
                    </div>

                    <div id="view_two">
                        <div class="form-group" class="w3-animate-opacity">
                            <label for="vquestion" id="security">Security Question</label>
                            <input type="text" class="form-control ri" autofocus id="vanswer" name="answer" minlength="3" required>
                        </div>
                        <div class="form-group">
                            <label for="vpassword">New Password</label>
                            <input type="password" class="form-control ri" autofocus id="vpassword" name="password" minlength="3" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control ri" autofocus id="vconfirmation" placeholder="Re enter Password" 
                            name="confirmation" minlength="3" required>
                        </div>
                        <div id="register_div">
                            <button type="submit" class="btn btn-primary" id="change_btn">Change Password</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}